nav ul {
    justify-content: space-around;
    display: flex;
}
ul {
    list-style-type: none;
}
li {  
    color: rgb(90, 90, 90);
}
a:hover {
    background-color: gray;
    color: rgb(255, 144, 144);
    padding: 10px;
}
h1 {
    color: red;
    text-align: center;
}
p {
    color: blue;
    text-align: center;
}
main {
    background-color: rgb(156, 156, 156);
    color: rgb(214, 12, 147);
    border: 1px yellow solid;
    text-align: center;
    padding: 10px;
}
