*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

body{
    background-color: #252B42;
    margin: 0;
}
.limit{
    width: 100%;
    max-width: 1048px;
    margin: 0 auto;
     
}
.wi-h{
    width: 100%;
}
.section-1{
    background-image: url(./img/img1.png);
    background-size: cover;
    
    height: 100%;
    
    
}

a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 34px;
    
}
.heder-div-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 50px;
}
.sprivatent{
    color: white;
    font-family: mo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.333333;
    font-family: 'Montserrat', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
   
    
}
nav ul li{
    margin-right: 21px;
}
.name-link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.714245; 
    color: #dfdfdf;
}
h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    max-width: 693px;

}
.section-1-p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    max-width: 479px;
    color: #e7e7e7;
    

}
.section-1-frt-div{
    max-width: 600px;
}
.blue-bt{
    padding: 10px 36px;
    border: 1px solid #c9a14b;
    border-radius: 37px;
    background-color: #c9a14b;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;

}
.blue-bt:focus{
    outline: none;
}
.transparent-bt{
    
    padding: 10px 36px;
    border: 1px solid #ffffff;
    border-radius: 37px;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;

}
.transparent-bt:focus {
    outline: none;
}
button:hover {
    transition: 0.3s;
    border: 1px solid #9b7b35;
    background-color: #80642a;
}
.button-6:hover {
    transition: 0.3s;
    border: none;
    background-color: #80642a;
}
.button-7:hover {
    transition: 0.3s;
    background-color: #80642a;
}
.book-bt:hover {
    transition: 0.3s;
    border: 1px solid #493a9e;
    background-color: #1c285a;
}
button.button-7 {
    color: white;
    background-color: #b3882e;
}

.section-1-sec-div{
    width: 328px;
    height: 619px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;

    
}
.book-input{
    width: 248px;
    height: 369px;
}
.book-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 40px 0; 
}
.input-div{
    width: 100%
}
.lable-ctrl-1{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #252b42;
}
.input-ctrl-1{
    outline: none;
}
.input-ctrl-1{
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 21px;
    padding-right: 0;
    margin: 10px 0;
    
}
.select-ctrl-1{
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 0;

    margin: 10px 0;
}
.select-ctrl-1:focus{
    outline: none;
}
.opt{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
}
.book-bt{
    background-color: #493a9e;
    border-radius: 5px;
    width: 248px;
    height: 58px;
    border: none;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    margin: auto 0;
    outline: none;
    

}





.section-2{
    height: 100%;
    background-color: #252B42;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-div-2{
    width: 328px;
    display: flex;
    padding-bottom: 80px;
    
}
.header-div-2{
    text-align: center;
    padding: 80px 0;
}
.section-2-h2{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #fafafa;
    margin-top: 0;
    margin-bottom: 10px;

}
.section-2-p{
    max-width: 470px;
    margin: 0 auto;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    text-align: center;
    
    
}
.card-icon{
    display: flex;
    justify-content: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 44px;
    
}
.section-2-h5{
    font-family:'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252b42;
    margin-left: 15px;
}
.list-div{
    border: 1px solid #a9d6ff;
    background-color: #fff;
    border-radius: 11px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 44px;
}
.list-div li{
    list-style-type: none;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    margin-bottom: 5px;
}
.list-div #learn-1{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffa62b;
}
.list-div #learn-2{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffa62b;
}
.list-div #learn-3{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffa62b;
}

.card-section-2{
    display: flex;
    flex-direction: column;
    
    background-color: #ffd9f0;
    border-radius: 10px;
    margin:0 auto;
    width: 328px;
    
    
}
.main-div-2{
    width: 100%;
    
}
.section-3{
    background-color: #252B42;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}
.header-div-3{
    display: flex;
    flex-direction: column;
    text-align: center

}
.section-3-h2{
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 57px;
    width: 461px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 80px;

}
.section-3-p{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #dddddd;
    max-width: 470px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto
}
.main-div-3{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    
}
.main-img{
    flex: 1 0 auto;
    width: auto;
    height: auto;
}
.section-4{
    height: 100%;
    display: flex;
   
    justify-content:space-around ;
    
    background-color: #252B42;
}
.disp-f{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header-div-4{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    
}
.main-div-4{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    

}
.section-4-h2{
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 57px;
    width: 461px;
    margin: 0 auto;
    color: #ffffff;
}
.section-4-p{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #dfdfdf;
    max-width: 470px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.star-card{
    width: 327px;
    height: 244px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    background-color: #fff;

}
ol{
    padding: 0;
}
.star-p{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    
    color: #737373;
    width: 234px;
}
.div-dis{
    display: flex;
}
.des{
    margin: 0;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #252b42;
}
.star-a{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffa62b;
}
.star-designer{
    margin-left: 15px;
}
.section-5{
    height: 100%;

    display: flex;
    
    justify-content:space-around ;
    
    
}
.header-div-5{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;

}
.section-5-h2{
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 57px;
    width: 461px;
    margin: 0 auto;
    color: #ffffff;

}
.section-5-p{
  
        font-family:'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #dddddd;
        max-width: 470px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

}
.main-div-5{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
.team-card{
    width: 328px;
    height: 373px;
    max-width: 372px;

    background-color: #fff;
}
.icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 142px;
    
}
.div-h5{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #252b42;
}
.div-h6{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    padding-bottom: 5px;
}
.section-6{
    background-image: url(./img/img6.png);
    background-size: cover;
    
    height: 821px;
    
}
.mar{
    margin: 0 15px;
}
.input-6{
    width: 100%;
    max-width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 21px;
    padding-right: 0;
    margin: 10px 0;
}
.select-6{
    display: flex;

    

    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 0;

    margin: 10px 0;
}
.header-div-6{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-div-6{
    display: flex;
    flex-wrap: wrap;
    
}
.mini-limit{
    width: 579px;
    height: 602px;
    display: flex;
    flex-direction: column;
    
}
.padd-l-10{
    padding-left: 10px;
    width: 50%;
    
}
.padd-r-10{
    padding-right:10px ;
    width: 50%;
}
.text-ar{
    width: 100%;
    height: 140px;
    padding: 16px 26px;

    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #bdbdbd;

    margin-top: 10px;
}
.section-6-h2{
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 57px;
    max-width: 461px;
    margin: 0;
    color: #ffffff;
}
.section-6-h5{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #f1f1f1;
    margin: 0;
}
.button-6{
    background-color: #9b7b35;
    border-radius: 5px;
    width: 218px;
    height: 58px;
    border: none;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    
    outline: none;
}
.section-7{
    height: 100%;
    background-color: #252b42;

}
.h3-7{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right:auto;
}
.header-div-7{
    display: flex;
    justify-content: baseline ;
    padding-top: 53px;
    padding-bottom: 57px;
}
.icon-ctrl-7{
    margin-right: 20px;
}
.icon-7{
    margin-right: 24.5px
}
hr{
    border: 1px solid #364067
}
.main-div-7{
    display: flex;
    margin-top: 70px;
    padding-bottom: 140px;
}

.list-footer{
    width: 148px;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.list-h5{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
    
}
.span-7{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #bdbdbd;
    margin: 5px 0;
}
.input-7{
    height: 58px;
    width: 214px;
    border: 1px solid #e6e6e6;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #bdbdbd;


}
.button-7{
    width: 117px;
    height: 58px;
    margin-left: -10px;
    background-color: #ffa62b;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    

}
.input-7,.button-7:focus{
    outline: none;
}
#input-bt{
    display: flex;
    justify-content: baseline;
    
    vertical-align: middle;
}
.lorem{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #bdbdbd
}
@media(max-width:640px){

}

@media(max-width:1044px){
    .heder-div-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-1-sec-div{
        margin-top: 80px;
    }
    .main-div-2{
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    .card-section-2{
        margin-bottom: 40px
    }
    .main-div-4{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
    .star-card{
        margin: 30px 30px;
        
    }
    .main-div-5{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .team-card{
        margin: 30px 0;
    }
    .mini-limit{
        align-items: center;
        margin: 0 auto;
    }
    .main-div-7{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .list-footer{
        margin-bottom: 50px;
    }
    

}
@media(max-width:902px){
    .main-img{
    transform: scale(0.7)
    }
}

@media(max-width:640px){
    .main-img{
        transform: scale(0.5)
    }
    .mini-limit{
        width: 100%;
        height: 100%;
    }
}

@media(max-width:545px){
    nav ul{
        flex-direction: column;
    }
}

@media(max-width:494px){
    .section-2-h2{
        width: auto;
    }
    .section-3-h2{
        width: auto;
    }
    .section-4-h2{
        width: auto;
    }
    .section-5-h2{
        width: auto;
    }
}

@media(max-width:445px){
    .main-img{
        width: 100%;
        max-width: 350px;
    }
    .mini-limit{
        width: 100%;
        height: 100%;
    }
}