@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.section-3 { 
    height: 950px;
    background: url(./img/img1.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    
}
.section-4 {
    margin-right: 50px;
    margin-top: -70px;
    float: right;
    display: flex;
}
.img-2 {
    margin-top: 30px;
    width: 20px;
    height: 15px;
}
.img-3 {
    margin-left: 140px;
    margin-top: 30px;
    width: 25px;
    height: 17px;
}
.litigade {
    letter-spacing: 4px;
    padding-top: 46px;
    padding-left: 170px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 22px;
}
nav ul {
    display: flex;
}
ul li {
    font-size: 18px;
    padding: 10px;  
    list-style-type: none;  
}
li a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.zagolovok {
    font-family: Martel;
    font-size: 60px;
    line-height: 65px;
}
h1 {
    color: white;
}
.paragrahp {
    line-height: 25px;
    color: white;
}
.section-5 {
    margin-left: 135px;
    padding-top: 230px;
    padding-left: 30px;
    
}
div.div-4 {  
    border-radius: 9px;
    padding: 20px;
    text-align: center;
    margin-right: 200px;
    margin-top: -620px;
    float: right;
    background-color: rgb(255, 255, 255);
    height: 590px;
    width: 330px;
}
.input-label {
    margin-right: -15px;
    margin-left: -40px;
    width: 260px;
    border-radius: 7px;
    border: 1px rgb(214, 214, 214);
    background-color: rgb(230, 230, 230);
    height: 37px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
    }
.input-select {
    border: 1px solid  rgb(214, 214, 214);
    background-color: rgb(230, 230, 230);
    height: 55px;
    padding-bottom: 20px;
}
.legend-1 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}
#Email {
    margin-top: 15px;
}
#Department {
    margin-top: 15px;
}
.button-6 {
    margin-top: 26px;
    background-color: rgb(58, 67, 133);
    color: white;
    height: 60px;
    width: 290px;
    font-size: 16px;
    border-radius: 7px;
}
.button-4 {
    margin-top: 20px;
    margin-left: -8px;
    background-color: rgb(197, 150, 63);
    color: white;
    height: 50px;
    width: 176px;
    font-size: 18px;
    border-radius: 40px;
}
.button-5 {
    margin-top: 20px;
    margin-left: 6px;
    background-color:transparent;
    color: white;
    height: 50px;
    width: 176px;
    font-size: 18px;
    border-radius: 40px;
    border: 1px solid;
}
header {
    margin-top: -120px;
    text-align: center;
    color: white;
    background: #252B42;
    padding: 20px;
    padding-top: 50px;
}
section {
    margin-bottom: 120px;
}
section img{
    margin: 15px;
}
.section-1 {
    margin-top: 120px;
}
.div-1 {
    width: 100%;
    height: 330px;
    background: rgba(0, 0, 0, 0.5);
}
.div-2 {
    width: 100%;
    height: 350px;
    background: #252B42;
}
.img-1 {
    margin-top: 170px;
}
section.section-2 {
    margin-bottom: -150px;
}
.section-1 h1{
    line-height: 1px;   
}
.aside-1 {
    margin-top: 0%;
}
h1 {
    line-height: 12px;
    font-size: 40px;
}
p {
    font-family: 'Quicksand', sans-serif;
    color: rgb(202, 198, 198);
}
main {
    padding-left: 315px;
    padding-top: 150px;
    height: 700px;
    background: url(./img/img6.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
form {
    margin-top: 60px;
}
.formm {
    margin-top: -60px;
}
main h1{
    color: white;
    margin-left: 13px;
}
h5 {
    margin-left: 13px;
    line-height: 3px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.input-1 {
    margin: 10px;
    padding: 17px;
    width: 250px;
    border-radius: 7px;
}
textarea {
    padding: 20px;
    margin-left: 10px;

    position: static;
    width: 598px;
    height: 140px;
    left: 0px;
    top: 140px;
    
    background: #F9F9F9;
    /* muted-color */
    
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.aside-2 {
    margin-bottom: 20px;
    margin-left: 150px;
    display: flex;
    padding: 70px;
}
.aside-1 {
    margin-top: 50px;
}
aside h1 {
    line-height: 29px;
    font-size: 31px;
    font-family: 'Andika New Basic', sans-serif;
    color: rgb(41, 38, 38);
}
aside p {
    color: rgb(80, 74, 74);
}
button:hover {
    background-color: rgb(153, 117, 49);
}
.button-5:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(1, 129, 1);
}
.button-6:hover {
    background-color: rgb(47, 53, 104);
}
.button-1:focus {
    outline: none;
}
.button-2:focus {
    outline: none;
}
.button-3:focus {
    outline: none;
}
.button-4:focus {
    outline: none;
}
.button-5:focus {
    outline: none;
}
.button-6:focus {
    outline: none;
}
.button-7:focus {
    outline: none;
}
.button-2 {
    border: 1px solid rgb(197, 150, 63);
    margin-top: 24px;
    margin-right: 160px;
    margin-left: auto;
    background-color: rgb(197, 150, 63);
    color: white;
    height: 57px;
    width: 170px;
    font-size: 18px;
    border-radius: 7px;
}
.button-1 {
    margin-left: 10px;
    background-color: rgb(197, 150, 63);
    color: white;
    padding: 20px;
    margin-top: 35px;
    width: 250px;
    font-size: 18px;
    border-radius: 7px;
}
select {
    margin: 10px;
    line-height: 100px;
    height: 55px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    width: 288px;
    border-radius: 7px;
    color: rgb(134, 133, 133);
}
footer {
    padding-top: 10px;
    padding-right: 118px;
    height: 570px;
    padding-left: 118px;
    background: #252B42;
}
.glubina {
    margin-top: 37px;
    margin-right: 20px;
    justify-content: space-around;
    color: rgb(228, 228, 228);
    display: flex;
}
.more-3 {
    padding-bottom: 20px;
}
#more-1 {
   margin-top: -10px;
}
.more-1 {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
.more-2 {
    padding: 17px;
    width: 170px;
    border: solid white 2px;
    border-radius: 5px;
}
.button-7 {
    border: solid white 2px;
    margin-left: -30px;
    padding: 17px;
    height: 53px;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: rgb(197, 150, 63);

}
hr {
    margin-left: 96px;
    margin-top: 50px;
    border-right-color: rgb(110, 110, 110);
    border-left-color: rgb(110, 110, 110);
    border-top-color: rgb(110, 110, 110);
    border-bottom-color: rgb(110, 110, 110);
}
h4 {
    margin-left: 100px;
    margin-bottom: -6px;
    padding-top: 50px;
    font-size: 26px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}
.vector-11 {
    float: right;
    margin-right: 110px;
    margin-top: -35px;
    padding: 9px;
}
#meduza-1 {
    margin-right: -1px;
}
#meduza-2 {
    margin-right: -1px;
}
#meduza-3 {
    margin-right: -1px;
}
button {
    border: none;
}
.div-3 {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 100%;
    background-color: rgb(82, 82, 255);
}
.example {
    justify-content: center;
    margin-top: 50px;
    display: flex;
}
.example-1 {
    margin: 20px;
}
.example-2 {
    border-radius: 8px;
    width: 350px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: rgb(255, 220, 226);
    display: flex;
}
.example-2 h2 {
    margin-top: 35px;
}
.example-1 h2 {
    color: rgb(65, 65, 65);
}
.example-3 {
    letter-spacing: 1.1px;
    margin-top: -135px;
    border-radius: 8px;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    text-align: left;
    width: 340px;
    background-color: rgb(255, 255, 255);
}
span {
    color: gray;
}
.wolke-1 {
    font-size: 18px;
    letter-spacing: 0;
    font-family: 'Work Sans', sans-serif;
}
.wolke-2 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 175, 25);
}
.examplee {
    justify-content: center;
    margin-bottom: 230px;
    margin-top: 50px;
    display: flex;
}
.block {
    margin: 20px;
    border-radius: 7px;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 35px;
    text-align: left;
    height: 300px;
    width: 370px;
    background-color: white;
}
.sirena-2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    margin-left: 8px;
    margin-bottom: -10px;
}
.sirena-3 {
    padding-left: 25px;
}
.sirena-4 {
    padding-left: 5px;
    display: flex;
}
.sirena-5 {
    margin-top: -110px;
}
.sirena-6 {
    margin-top: -100px;
}
.sirena-7 {
    font-weight: bold;
    color: rgb(32, 32, 32);
}
.exampleee {
    justify-content: center;
    display: flex;
}
.rusalka-1 {
    margin-top: 50px;
    height: 380px;
    margin-left: 40px;
    width: 328px;
    background-color: white;
}
.rusalka-2 {
    margin-top: -20px;
    margin-left: 0%;
}
.rusalka-4 {
    font-size: 22px;
    color: rgb(44, 43, 43);
}
.rusalka-5 {
   font-weight: bold;
}
.rusalka-6 {
    margin-top: -20px;
}
@media (max-width: 850px) {
    .aside-2 {
        margin-left: -10px;
        padding-bottom: 100px;
    }
    .button-1 {
        margin-left: -280px;
    }
    .button-2 {
        position: absolute;
        justify-content: center;
        width: 176px;
        margin-left: 10px;
        margin-top: 210px;
        margin-bottom: auto;
    }
    .formm {
        margin-left: -300px;
    }
    select {
        margin: 10px;
    }
    hr {
        width: 235px;
        margin-left: auto;
        margin-top: 10px;
        border: solid gray;
    }
    .img-1 {
        height: 150px;
        width: 250px;
        margin-right: 17px;
    }
    textarea {
        margin-left: 11px;
        width: 277px;
    }
    footer {
        height: 1800px;
    }
    form {
        flex-direction: column;
    }
    h4 {
        margin-left: -30px;
        padding: 30px;
        padding-bottom: 60px;
    }
    .vector-11 {
        justify-content: center;
        display: flex;
    }
    .more-2 {
        margin-left: -70px;
        width: 110px;
    }
    .button-7 {
        width: 90px;
        margin-right: -170px;
    }
    .input-2 {
        width: 70px;
    }
    .button-3 {
        width: 110px;
        border-radius: 5px;
    }
    .div-3 {
        margin-left: -70px;
        width: 200px;
        height: 120px;
    }
    .theend {
        padding-left: -250px;
    }
    .litigade {
        padding-right: 550px;
        padding-left: -1px;
        text-align: center;
    }
    .section-3 { 
        width: 80%;
        height: 900px;
    }
    .section-4 {
        margin-top: 6px;
        text-align: center;
        padding: -2px;
    }
    .section-5 {
        margin-top: -50px;
    }
    .zagolovok {
        margin-left: -400px;
    }
    .paragrahp {
        margin-left: -550px;
    }
    li {
        margin-right: 30px;
    }
    .img-1 {
        margin-top: 180px;
        height: 150px;
        width: 250px;
        margin-right: 17px;
    }
    .div-1 {
        height: 120px;
    }
    .div-2 {
        height: 240px;
    }
    .img-2 {
        margin-left: -10px;
        margin-right: 40px;
    }
    .img-3 {    
        margin-right: -11px;
        margin-left: -10px;
    }
    .button-4 {
        margin-left: 270px;
    }
    .button-5 {
        margin-left: 270px;
    }
    .section-3 {
        width: 629px;
    }
    main {
        height: 800px;
        width: 600px;
        padding-right: -110px;
    }
    .mainn {
        margin-top: -100px;
        margin-left: -300px;
    }
    .example {
        margin: 20px;
        flex-direction: column;
    }
    .examplee {
        margin: 20px;
        flex-direction: column;
    }
    .exampleee {
        margin: 20px;
        flex-direction: column;
    }
    .glubina {
        flex-direction: column;
    }
} 
 